body {
  overflow-y: hidden;
}

.fs {
  color: orangered;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 28px;
}
h2.fs-5 {
  font-size: 20px;
}
.container-sm {
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 0%;
  margin-top: -35px;
  margin-right: 2px;
}
#currentDate {
  margin-top: 15px;
  margin-left: 8px;
}
.container1 {
  width: 100%;
  border-radius: 10px;
  height: 80lvh;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 0;
  bottom: 0;
  margin-top: -5px;
}

.form-control {
  width: 350px;
  padding-left: 31px;
}
.form-control:focus {
  box-shadow: none;
  border-color: orangered;
}
@media (max-width: 768px) {
  .form-control {
    width: 200px;
  }
}
#btnSave {
  background-color: orangered;
  color: white;
  margin-right: 5px;
  font-family: "Arial", sans-serif;
  font-weight: 20px;
  height: 37px;
  width: 100px;
}
@media (max-width: 768px) {
  #btnSave {
    width: 25%;
    font-size: 16px;
    margin-bottom: 15px;
  }
}

#btnAddStocks {
  background-color: orangered;
  color: white;
  margin-right: 5px;
  font-family: "Arial", sans-serif;
  font-weight: 20px;
  height: 37px;
  margin-right: 10px;
}
#btnAddStocks:hover,
#btnSave:hover {
  background-color: rgb(248, 95, 34);
  color: white;
}
#btnAddStocks:focus,
#btnSave:focus {
  box-shadow: none;
  outline: none;
  background-color: rgb(248, 70, 0);
}
#btnAddStocks:active,
#btnSave:active {
  transform: scale(0.95);
  box-shadow: none;
  border: none;
  color: rgb(255, 255, 255);
}

.search {
  display: flex;
  align-items: center;
}
.align-items-center {
  margin-top: 25px;
}
.button-group {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .btn {
    padding: 5px 8px;
    font-size: 10px;
  }
}
.col-auto {
  margin-left: 20px;
}
.st {
  margin-top: -10px;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
#searchIcon {
  position: absolute;
  margin-left: 10px;
}
.btn {
  font-size: medium;
}
.btn:active {
  box-shadow: none;
}
#Table-stocks {
  width: 95%;
  margin: 0 auto;
}
#front {
  margin-bottom: 30px;
}
.thead {
  background-color: rgb(252, 165, 93);
  border-radius: 10px;
  color: rgba(65, 56, 56, 0.89);
  border-bottom: none;
  border-bottom: none;
  position: sticky;
  top: 0;
}
.table-wrapper {
  height: 430px;
  overflow-y: auto;
}
@media screen and (min-height: 800px) {
  .table-wrapper {
    height: 555px;
    overflow-y: auto;
  }
}

@media screen and (min-height: 1000px) {
  .table-wrapper {
    height: 900px;
    overflow-y: auto;
  }
}
.table-wrapper::-webkit-scrollbar {
  width: 0.1px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: none;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th,
.table tbody td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tbody td:last-child {
  text-align: center;
}

@media screen and (max-width: 811px) {
  .table tbody td:before {
    display: none;
  }
}

.modal-overlay2,
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.337);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2000;
}

@media (max-width: 768px) {
  .modal-overlay2,
  .modal-overlay {
    padding: 10px;
  }
}

/* Modal */
.Update-modal {
  height: 250px;
  width: 350px;
  background: linear-gradient(210deg, #f5cba9, #ffcca2, #ffa061, #f58840);
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.Product-modal {
  height: 410px;
  width: 350px;
  background: linear-gradient(210deg, #f5cba9, #ffcca2, #ffa061, #f58840);
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .Update-modal,
  .Product-modal {
    height: auto;
    max-width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.ip1 {
  width: 290px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 15px;
  border: none;
}

.I-logo {
  padding-top: 5px;
  padding-bottom: 10px;
  color: rgb(255, 72, 0);
  font: italic small-caps bold 16px/2;
  font-size: 25px;
  font-weight: bold;
  animation: breathing 2s ease-in-out infinite;
  margin-bottom: 10px;
  margin-top: -10px;
}

.btn-close {
  width: 5px;
  height: 5px;
  margin-left: 315px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .ip1 {
    width: 90%;
  }

  .I-logo {
    font-size: 20px;
  }

  .btn-close {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.btn-close:focus {
  border-color: none;
  box-shadow: none;
}

.pen {
  margin-left: -45px;
  background-color: transparent;
  border: none;
  color: rgb(153, 255, 0);
}
.delete {
  background-color: transparent;
  border: none;
}
.fa-pen {
  color: rgb(153, 255, 0);
  margin-left: 5px;
  width: 18px;
}

.fa-trash {
  color: red;
}

.fa-pen:hover,
.fa-pen:active {
  color: rgb(153, 255, 0);
}

.fa-trash:hover,
.fa-trash:active {
  color: red;
}

.row-highlight {
  background-color: #f5cba9;
  font-weight: 600;
}
.noPro {
  background-color: #f5a9a9;
  font-weight: bolder;
}
.ProductList {
  font-weight: 600;
}

.table-wrapper {
  max-height: 100%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .table-wrapper {
    max-height: 800px;
  }
}

@media (max-width: 768px) {
  .st {
    margin-top: -5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .st {
    margin-top: -5px;
    margin-bottom: 20px;
  }
}

.delete-modal {
  width: 70%;
  max-width: 350px;
  height: 150px;
  background: linear-gradient(210deg, #f5cba9, #ffcca2, #ffa061, #f58840);
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .delete-modal {
    width: 80%;
    max-width: none;
  }
}

@media screen and (max-width: 480px) {
  .delete-modal {
    width: 90%;
    max-width: none;
  }
}

#btnCancel,
#btnDel {
  background-color: orangered;
  color: white;
  margin-right: 5px;
  font-family: "Arial", sans-serif;
  font-weight: 20px;
  height: 37px;
  width: 100px;
}
@media (max-width: 768px) {
  #btnCancel,
  #btnDel {
    width: 25%;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.ConfirmP {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(102, 0, 0);
}
.Dateindi {
  margin-left: -120px;
  font-weight: 400;
  color: orangered;
}
.fa-calendar {
  margin-left: 20px;
  margin-right: -3px;
}
#currentDate {
  margin-right: -103px;
}
